<div class="modal__container">
  <div class="modal-header">
    <button class="btn btn-outline-dark" routerLink="/question">return</button>
    <h4 class="modal-title" id="modal-basic-title">Ask the question</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <label class="themeForTitlesCreate {{themeService.color}}">Title of question</label>
        <div class="input-group">
          <input class="form-control" type="text" formControlName="titlequestion" />
        </div>

        <label class="themeForTitlesCreate {{themeService.color}}">Question</label>
        <div class="input-group">
          <textarea class="form-control" formControlName="textquestion" rows="5"></textarea>
        </div>

        <label class="themeForTitlesCreate {{themeService.color}}">Tags</label>
        <div class="input-group tags">
          <div
            class="container__tag themeForTitlesCreate {{themeService.color}}"
            *ngFor="let tag of checkBoxList, let i = index"
          >
            <label
              ><strong>{{ tag.name }}</strong></label
            >
            <input
              formControlName="checkquestion"
              class="form-check-input checkBoxTag"
              type="checkbox"
              name="`${tag.name}`"
              (click)="transferDataForOnChange(tag.isselected,i)"

            />
          </div>
<!--          (change)="addItemService.onChange(tag.isselected,i)"-->
        </div>
        <div    *ngIf="error" class="alert alert-danger">
          Very short title, min 6 symbol or very short text, min 10 symbol or
          there is not one checkbox, min 1 checkbox
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="newQuestion()" >
      Add
    </button>
  </div>
</div>
