.Ulcard__item{
  text-decoration: none;
  list-style-type: none;
}
.Ulcard__item_row{
  width: 98vw;
}
.cardColor
{
  background: #362f2f;
  color: #fff;
}
.card
{
  width: 18rem;
}
.card_row
{
  width: 100%;
}
