.Ulcard__item {
  text-decoration: none;
  list-style-type: none;
}
.Ulcard__item_row {
  width: 98vw;
}

.card {
  width: 18rem;
}
.card_row {
  width: 100%;
}
.Ulcard__cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ulcard__cardTitle > div {
  border-radius: 20px;
  padding: 5px;
}
.issueStatus
{
  background-color: greenyellow!important;
  color: black!important;;
}
.issueStatusOnModer
{
  color: black!important;;
}
