<div class="items__content " xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="DataService.items.length !== 0">
    <app-card-item *ngFor="let item of DataService.items" [item]="item" ></app-card-item>
  </ng-container>
  <ng-container *ngIf="DataService.items.length === 0">
<strong> ЗАДАЙТЕ СВОЙ ПЕРВЫЙ ВОПРОС</strong>
  </ng-container>
</div>

<div class="containerForPlusAdd">
  <div class="circleAddCard" (click)="open(content)"><span>+</span></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ask the question</h4>
    <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Title of question</label>
        <div class="input-group">
          <input class="form-control" type="text" #titlequestion />
        </div>
        <label>Question</label>
        <div class="input-group">
          <textarea class="form-control" #textquestion rows="5"></textarea>
        </div>
        <label>Tags</label>
        <div class="input-group tags"  >
          <div class="container__tag"*ngFor="let tag of AddItem.checkboxlist">
            <label><strong>{{tag.name}}</strong></label>
            <input class="form-check-input checkBoxTag"  type="checkbox" name=`${tag.name}` (change)="AddItem.onChange()" [(ngModel)]="tag.isselected" >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click)="AddItem.addQuestion(titlequestion.value, textquestion.value)" (click)="modal.close('Save click')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>








