<nav
  *ngIf="authService.isLoggedIn"
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="border: 1px solid black"
  [ngClass]="{ 'bg-light': themeService.colorTheme }">
  <div class="container-fluid">
    <div class="navbar-nav">
      <span
        class="setting"
        type="button"
        (click)="collapseFilter.toggle()"
        [attr.aria-expanded]="!isCollapsedFilter"
        aria-controls="collapseExample">
        filters
      </span>

      <div
        #collapseFilter="ngbCollapse"
        [(ngbCollapse)]="isCollapsedFilter"
        class="sort__container">
        <div
          class="card"
          [ngClass]="{ card__setting: themeService.colorTheme }">
          <div class="card-body-sort">
            <span><strong>Фильтровать по: </strong></span>
            <div class="choose__sortContainer">
              <form [formGroup]="filterForm">
                <span> 1.Completed</span>
                <div>
                  <label>отвечен</label>
                  <input
                    type="radio"
                    [value]="true"
                    formControlName="completdeCheck"
                    name="drone"/>
                  <label>не отвечен</label>
                  <input
                    type="radio"
                    [value]="false"
                    formControlName="completdeCheck"
                    name="drone"/>
                  <label>Все</label>
                  <input
                    type="radio"
                    [value]='valueAll'
                    formControlName="completdeCheck"
                    name="drone"/>
                </div>
                <span> 2.Category</span>
                <div class="input-group tags">
                  <div
                    class="container__tag"
                    *ngFor="
                      let tag of addItemService.checkboxList;
                      let i = index">
                    <label
                      ><strong>{{ tag.name }}</strong></label
                    >
                    <input
                      formControlName="tagCheck"
                      class="form-check-input checkBoxTag"
                      type="checkbox"
                      name="`${tag.name}`"
                      (change)="addItemService.onChange(tag.isselected, i)"
                    />
                  </div>
                </div>
                <span> 3.By Date</span>
                <div class="input-group dateRadioButton">
                  <div  *ngFor="let type of typeFilteringByDate ">
                    <label>{{type.name}}</label>
                    <input
                      type="radio"
                      name="Date"
                      [value]=type.id
                      formControlName="dateCheck"/>
                  </div>
                </div>
                <button type="button" (click)="filter()">Фильтровать</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-nav">
      <span
        class="setting"
        type="button"
        (click)="collapseSort.toggle()"
        [attr.aria-expanded]="!isCollapsedSort"
        aria-controls="collapseExample"
      >
        sort
      </span>

      <div
        #collapseSort="ngbCollapse"
        [(ngbCollapse)]="isCollapsedSort"
        class="sort__container"
      >
        <div
          class="card"
          [ngClass]="{ card__setting: themeService.colorTheme }"
        >
          <div class="card-body-sort">
            <span><strong>Сортировать по: </strong></span>
            <div class="choose__sortContainer">
              <div>
                <span
                  class="setting"
                  (click)="sortCardsAscending()"
                >
                  1.Sort ascending</span
                >
              </div>
              <div>
                <span
                  class="setting"
                  (click)="sortCardsDescending()"
                >
                  2.Sort descending</span
                >
              </div>
<!--              <div>-->
<!--                <span class="setting" (click)="sortCardsReturn()">-->
<!--                  3.Return as it was</span-->
<!--                >-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-nav">
      <span
        class="setting"
        type="button"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        settings
      </span>

      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        class="view__container">
        <div
          class="card-view"
          [ngClass]="{ card__setting: themeService.colorTheme }">
          <div class="card-body-view">
            <div class="switch__theme">
              <span><strong>Смена темы</strong></span>
              <div *ngFor="let typeTheme of typeTheme">
                <label>{{typeTheme.name}}</label>
                <input [value]=typeTheme.name type="radio" name="colorTheme" #colorTheme (click)="themeService.changeTheme(colorTheme.value)" />
              </div>
            </div>

            <div class="card__View">
              <span><strong>Вид</strong></span>
              <div>
                <span>{{ viewCardscesvice.statusViewCards }}</span>
                <label class="switch">
                  <input
                    type="checkbox"
                    (click)="viewCardscesvice.switchViewCards()"
                    [(ngModel)]="this.viewCardscesvice.viewCards"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
