.navbar-nav
{
  display: flex;
  flex-direction: column;
}
.view__container
{
  position: absolute;
  right:0px;
  top: 50px;
  width: 200px;
  z-index: 1;
}
.card-sort
{
  height: 120px;
}
.card-view
{
  height: 120px;
  display: flex;
  justify-content: center;
}
.sort__container
{
  position: absolute;
  text-align: center;
  top: 50px;
  width: 250px;
  z-index: 1;
}

.setting{
  cursor: pointer;
}
.setting:hover{

  color: black;
  opacity: 0.7;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 5px 0 5px;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
.card-body-view{
  padding: 10px;
  display: flex;
  flex-direction: column;

}
.card-body-sort{
  display: flex;
flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.choose__sortContainer
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch__theme
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.switch__theme>div{
  display: flex;
  align-items: center;
}
.bg-light
{
  background: #242020 !important;
}
.homeSettings__text
{
  color: white;
}
.tags
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
  row-gap: 10px;
  width: 80%;

}
.dateRadioButton
{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.dateRadioButton>div{
  display: flex;
  justify-content: space-between;
}
.container__tag
{
  display: flex;
  width: 100px;
  justify-content: space-between;
}

