.btnAddQuestion
{
  margin-right: 10px;
}
.tags
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
  row-gap: 10px;
  width: 80%;

}
.container__tag
{
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.header
{
background: black;
}
.bg-light
{
  background: #403f3f !important;
}
.header__userName
{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid burlywood;
  border-radius: 5px;
  margin-right:10px ;
  padding: 10px;
  background: burlywood;
  color: black;
}

