<nav class="navbar navbar-expand-lg navbar-light {{themeService.color}}"  >
  <div  class="container-fluid"  >
    <a class="navbar-brand login {{themeService.color}}" routerLink="/question"  (click)="routerNavigation()"  >Home</a>
    <div class="navbar-nav" *ngIf="!authService.isLoggedIn" >
      <a
        *ngIf="!authService.displaySignInOrOn"
        class="{{themeService.color}}"
        class="nav-link login"
        (click)="changeLogin()"
        routerLink="">Sign in</a>
      <a
        *ngIf="authService.displaySignInOrOn"
        class="nav-link login"
        (click)="changeLogin()"   class="{{themeService.color}}"
        >Sign up</a>
    </div>
    <div class="navbar-nav" *ngIf="authService.isLoggedIn">
      <button
        routerLink="newquestion"
        class="header__btn {{themeService.color}}"

        type="button"
        class="btn btn-outline-dark btnAddQuestion">
        Add question
      </button>
      <button  class="header__btn {{themeService.color}}" type="button" class="btn btn-outline-dark" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>


