<div class="items__content " xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="dataService.items.length !== 0">
    <app-card-item *ngFor="let item of dataService.items" [item]="item" ></app-card-item>
  </ng-container>
  <ng-container *ngIf="dataService.items.length === 0">
<strong> ЗАДАЙТЕ СВОЙ ПЕРВЫЙ ВОПРОС</strong>
  </ng-container>
</div>

<div class="containerForPlusAdd">
  <div class="circleAddCard" (click)="open(content)"><span>+</span></div>
</div>

<ng-template #content let-modal  >
  <div class="modal-header" >
    <h4 class="modal-title" id="modal-basic-title">Ask the question</h4>
    <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Title of question</label>
        <div class="input-group">
          <input class="form-control" type="text" #titlequestion />
        </div>
        <div *ngIf="errorTitle" class="alert alert-danger">
          Very short title. Min 2 symbol;
        </div>
        <label>Question</label>
        <div class="input-group">
          <textarea class="form-control" #textquestion  rows="5"></textarea>
        </div>
        <div *ngIf="errorText" class="alert alert-danger">
          Very short question. Min 10 symbol;
        </div>
        <label>Tags</label>
        <div class="input-group tags"  >
          <div class="container__tag"*ngFor="let tag of addItem.checkboxList">
            <label><strong>{{tag.name}}</strong></label>
            <input class="form-check-input checkBoxTag"  type="checkbox" name=`${tag.name}` (change)="addItem.onChange()" [(ngModel)]="tag.isselected" >
            <div *ngIf="errorCheck" class="alert alert-danger">
              Very short question. Min 10 symbol;
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">


        <button type="submit" class="btn btn-outline-success" (click)="newQuestion(titlequestion.value, textquestion.value, content)" >Add </button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
    </form>
  </div>

</ng-template>








