<div class="modal__container" *ngIf="item" >
  <div class="modal-header">
    <button
      class="btn btn-outline-dark"
     (click)="returnOnQuestionCard()">
      return
    </button>
    <h4 class="modal-title" id="modal-basic-title">Edit the question</h4>
  </div>
  <div class="modal-body">

    <form [formGroup]="editForm">
      <div class="form-group">
        <label class="themeForTitlesCreate {{themeService.color}}">Title of question</label>
        <div class="input-group">
          <input class="form-control" type="text" formControlName="titlequestion"  />
        </div>
        <label class="themeForTitlesCreate {{themeService.color}}">Question</label>
        <div class="input-group">
          <textarea class="form-control" formControlName="textquestion" rows="5"></textarea>
        </div>
        <label class="themeForTitlesCreate {{themeService.color}}">Tags</label>

        <div class="input-group tags" [formGroup]="editForm">
          <div
            class="container__tag"
            formArrayName="orders"
            *ngFor="let order  of ordersFormArray.controls,let i = index"
          >
            <label class="themeForTitlesCreate {{themeService.color}}">
              <strong>{{ checkBoxList[i].name }}</strong></label>

            <input
              [formControlName]="i"
              class="form-check-input checkBoxTag"
              type="checkbox"
              (click)="transferDataForOnChange(i)"
            />
          </div>
        </div>

        <div    *ngIf="error" class="alert alert-danger">
          Very short title, min 6 symbol or very short text, min 10 symbol or
          there is not one checkbox, min 1 checkbox
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="editQuestion()"
    >
      Save
    </button>
  </div>
</div>

