<div class="comment">
  <div class="comment__header">
    <div class="comment__imgContainer">
      <img
        class="comment__img"
        src="../../../../../../assets/img/spanch_img.jpg"
      />
    </div>
    <div class="comment__titleContainer">
      <span class="comment__title">{{ dataComment.authorComment }}</span>
    </div>
  </div>

  <div class="comment__answerContainer">
    <span class="comment__text">{{ dataComment.textComment }}</span>
    <div class="containerForDateAndBtn">
      <div class="completeAnswer" *ngIf="dataComment.isCorrectAnswer">
        <span>Правильное решение</span>
      </div>
      <button
        *ngIf="
          !dataComment.isCorrectAnswer &&
          authService.currentUser.email ===
            item.author
        "
        class="btn btn-outline-dark {{ themeService.color }}"
        (click)="approveComment()"
      >
        Пометить как правильное решение
      </button>
      <span>{{ dataComment.dateCreateComment | date: "M/d/yy, h:mm a" }}</span>
    </div>
  </div>
</div>
