.fullcard
{
width:100%;

  &__wr
  {
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;

  }
  &__body
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 40px auto;
  }

  &__title
  {
    margin-bottom: 20px;
  }

  &__text
  {
    padding-top: 20px;
    border-top: 1px solid black;
  }
  &__footer
  {
    display: flex;
    justify-content: space-between;
  }
  &__footerUl
  {
    text-decoration: none;
    list-style-type: none;
    display: flex;
  }
}
.successfulAns
{
  background-color: greenyellow!important;
  color: black;
  border-radius: 20px;
  padding: 5px;
}

