<div *ngIf="!dataService.item"><strong>ГРУЗИТСЯ</strong></div>
<div class="fullcard" *ngIf="dataService.item">
  <div class="fullcard__wr" [ngClass]="{'fullcard__switchText': themeService.colorTheme}">
    <header class="fullcard__header">
      <nav  [ngClass]="{'bg-light': themeService.colorTheme}" class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="btn btn-outline-dark"  (click)="routerNavigation()" [ngClass]="{'fullcard__btnReturn': themeService.colorTheme}">return</button>
        <div class="container-fluid">

          <div class="navbar-nav login"  [ngClass]="{'fullcard__switchText': themeService.colorTheme}"  >{{dataService.item.author}}</div>
          <div class="navbar-nav">
                        <a>{{dataService.item.date | date:'M/d/yy, h:mm a'}}</a>
          </div>
        </div>
      </nav>
    </header>
    <section class="fullcard__body">
        <h5 class="fullcard__title">{{dataService.item.title}}</h5>
      <div class="fullcard__text">
        <span>{{dataService.item.text}}</span>
      </div>
    </section>

    <footer class="fullcard__footer">
        <ul class="fullcard__footerUl">
          <li *ngFor="let tag of dataService.item.tag"><strong>|</strong><span style="visibility: hidden">s</span>{{tag}}<span style="visibility: hidden">s</span> </li>
        </ul>
      <div class="fullcard__footerButton">
        <button routerLink="/editquestion"  class="btn btn-outline-primary">Edit</button>
        <button>Должны быть скрыты</button>
      </div>

    </footer>
  </div>
  <app-comments *ngIf="dataService.item"></app-comments>
</div>




