/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
input.ng-touched.ng-invalid {border:solid red 2px;}


.login
{
  cursor: pointer;
}
.container{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__card
  {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darkgrey;
    width: 400px;
    min-height: 350px;
  }
  &__itemsz
  {
    display: flex;
    flex-direction: column;
  }
  &__title
  {
    text-align: center;
  }
  &__buttonSubmit
  {
    text-align: center;
    margin: 10px;
  }
  &__ChooseLoginGroup
  {
    text-align: center;
    margin: 10px;
  }


}

