/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
input.ng-touched.ng-invalid {border:solid red 2px;}


.login
{
  cursor: pointer;
}
.container{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__card
  {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid darkgrey;
    width: 400px;
    min-height: 350px;
  }
  &__itemsz
  {
    display: flex;
    flex-direction: column;
  }
  &__title
  {
    text-align: center;
  }
  &__buttonSubmit
  {
    text-align: center;
    margin: 10px;
  }
  &__ChooseLoginGroup
  {
    text-align: center;
    margin: 10px;
  }

}
//theme
//themeWhite

.circleAddCard
{
  border: 1px solid black;
  &>span
  {
    color: black;
  }
}
.themeForTitlesCreate.white
{
  color: black !important;
}

  //themeBlack
.fullcard.black
{
  color: white;
}
.circleAddCard.black
{
  border: 1px solid white;
  &>span
  {
    color: white;
  }
}
.bg-light.black
{
  background: #242020 !important;
}
.btn.btn-outline-dark.black
{
    color: white;
}
.navbar-nav.login.black
{
  color: white;
}
.app-header.black
{
  background: #403f3f;
  min-height: 100vh;
}
.card.black
{
  background: #362f2f;
  color: #fff;
}

.navbar-brand.login.black
{
  color: white !important;

}
.black
{
  color: white !important;
}

.header__btn.black
{
  color: white;
  border: 1px solid white;
}
.card__setting.black
{
  background: #242020;
}
.card.card__setting.black
{
  background: #242020;
}

