.btnAddQuestion
{
  margin-right: 10px;
}
.tags
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
  row-gap: 10px;
  width: 80%;

}
.container__tag
{
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.modal__container
{
  position: relative;
  margin: 0  auto;
  top: 100px;
  width: 50%  ;
  border: 1px solid black;
}
.modal-footer
{
  display: flex;
  justify-content: center;
}
.modal__container
{
  color: white;
}
.modal__btnReturn
{
  color: white;
}
